@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

colgroup:root
{
     ---azulUm: #84b1ec;
     ---azulDois: #7198CA;
     ---azulTrês: #5E7EA8;
     ---azulQuatro: #4B6586;
     ---azulCinco: #89B8F5;
     ---azulSeis: #384B64;
     
}