body {background-color: white;}


#sessaoUm 
{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
     background-image: url(../IMG/FUNDOSESSÃOUM.png);
     background-size: cover;
}

#conteinerUmSessaoUm
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: end;
     width: 60%;
     height: 100vh;
}

#conteinerUmSessaoUm img
{
     background-size: cover;
     transform: scaleX(-1);
}

#imgSessaoUm
{
     display: flex;
     height: 90%;
     width: 90%;
}

#conteinerDoisSessaoUm
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     width: 40%;
     padding: 0.5rem;
     padding-right: 5rem;
     text-align: center;
     
}

#conteinerDoisSessaoUm h1
{
     color: white;
     font-size: 5.5rem;
     flex-wrap: wrap;
     font-weight: 500;
}

#conteinerDoisSessaoUm p
{
     margin-top: 5rem;
     font-size: 1.5rem;
     font-weight: 300;
     color: white;
}

#conteinerDoisSessaoUm button
{
     cursor: pointer;
     border: 0;
     border-radius: 1.5rem;
     height: 2.5rem;
     width: 12rem;
     background-color: #fff;
     color: #5E7EA8;
     font-size: 1rem;
     font-weight: 600;
     transition: all 0.5s ease-in-out;
}

#conteinerDoisSessaoUm button:hover
{
     transition: all 0.5s ease-in-out;
     transform: scale(1);
     background-color: #5E7EA8;
     border: 1px solid #fff;
     color: #fff;
}








/* SESSÃO DOIS */
#sessaoDois
{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 90vh;
     background-image: url(../IMG/FUNDOSESSÃODOIS.png);
     background-size: cover;
}

#conteinerSessaoDois
{
     display: flex;
     flex-direction: column;
     width: 45%;
     margin-top: 1.5rem;
     padding-left: 5rem;
     
}

#conteinerSessaoDois h1
{
     color: white;
     font-size: 4.5rem;
     font-weight: 300;
}

#conteinerSessaoDois p
{
     margin-top: 3rem;
     font-size: 1.6rem;
     font-weight: 200;
     color: white;
     text-align: left;
     flex-wrap: wrap;
}