body {background-color: #384b64;}


#sessaoUm 
{
     display: flex;
     flex-direction: row;
     margin-top: 4rem;
     width: 100%;
     height: 100vh;
     background-color: #3a4a5f;
}

#conteinerUmSessaoUm
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: end;
     width: 50%;
     height: 100vh;
     
     img{
     background-size: cover;
     /* transform: scaleX(-1); */
     transform: translateY(0px);
     animation: float 5s ease-in-out infinite;
     }
}
@keyframes float
{
     0% {transform: translateY(0px);}
     50%{transform: translateY(-30px);}
     100%{transform: translateY(0px);}
}

#imgSessaoUm
{
     display: flex;
     height: 85%;
     width: 86%;
     background-size: cover;
}

#conteinerDoisSessaoUm
{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 6rem;
     gap: 1.8rem;
     width: 50%;
     padding-right: 5rem;
     text-align: center;
     
}

#conteinerDoisSessaoUm h1
{
     color: #ffffff;
     font-size: 8rem;
     flex-wrap: wrap;
     font-weight: 400;
}

#conteinerDoisSessaoUm p
{
     margin-top: 6.5rem;
     font-size: 1.5rem;
     font-weight: 300;
     color: white;
}

#conteinerDoisSessaoUm button
{
     cursor: pointer;
     border: 0;
     border-radius: 1.5rem;
     height: 2.7rem;
     width: 13.8rem;
     background-color: #fff;
     color: #344a66;
     font-size: 1rem;
     font-weight: 600;
     transition: all 0.5s ease-in-out;
}

#conteinerDoisSessaoUm button:hover
{
     transition: all 0.5s ease-in-out;
     transform: scale(1);
     background-color: #5e7ea800;
     border: 0.1rem solid #fff;
     color: #fff;
}










/* SESSÃO DOIS */
#sessaoDois
{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
     background-color: #fff;
     background-image: url(../IMG/FUNDOSESSÃODOIS.png);
     background-size: cover;
}

#conteinerUmSessaoDois
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 45%;
     padding-left: 5rem;     
}

#conteinerUmSessaoDois h1
{
     color: white;
     font-size: 5rem;
     font-weight: 300;
}

#conteinerUmSessaoDois p
{
     margin-top: 3rem;
     font-size: 1.6rem;
     font-weight: 200;
     color: white;
     text-align: left;
     flex-wrap: wrap;
}

#conteinerDoisSessaoDois
{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
     width: 55%;

}

#imgSessaoDois
{
     display: flex;
     height: 90%;
     width: 90%;
}

#conteinerDoisSessaoDois img
{
     background-size: cover;     
     width: 100%;
     height: 100%;
}









/* SESSÃO TRÊS */
#sessaoTres
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     width: 100%;
     height: 100vh;
}
#conteinerUmSessaotres
{
     display: flex;
     flex-direction: row;
     height: 15%;
     width: 80%;
     padding-top: 2rem;
}

#conteinerUmSessaotres h1
{
     color: #384b64;
     font-size: 4.5rem;
     font-weight: 300;
}

#conteinerDoisSessaotres
{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 85%;
}

/* carrossel */

#carrossel
{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     gap: 1.5rem;
}

#carrosselInner {
     display: flex;
     scroll-behavior: smooth; 
     white-space: nowrap;
     width: 80%;
     gap: 2.5rem;
     height: 100%;
 }

.cardCarrossel {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #384b64;
     align-items: center;
     flex: 0 0 auto;
     width: 29%;
     border: 1px solid #384b64;
     border-radius: 2.5rem;
     padding: 1.5rem;
     

     img{
          width: 15rem;
          height: 15rem;
          padding: 3rem;
     }
}

.cardCarrossel p
{
     font-size: 1.2rem;
}

#carrossel a /*botao*/
{
     font-size: 6rem;
     text-decoration: none;
     color: #384b64;
     transition: all 0.3s ease-in-out;
}
#carrossel a:hover
{
    transition: all 0.3s ease-in-out;
}
