body {background-color: #384b64;}


#sessaoUm 
{
     display: flex;
     flex-direction: row;
     margin-top: 4rem;
     width: 100%;
     height: 100vh;
     background-color: #3a4a5f;
}

#conteinerUmSessaoUm
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: end;
     width: 49%;
     height: 100vh;
     
     img{
     background-size: cover;
     transform: translateY(0px);
     animation: float 5s ease-in-out infinite;
     }
}
@keyframes float
{
     0% {transform: translateY(0px);}
     50%{transform: translateY(-50px);}
     100%{transform: translateY(0px);}
}

#imgSessaoUm
{
     display: flex;
     height: 100%;
     width: 100%;
     background-size: cover;
}

#conteinerDoisSessaoUm
{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 5rem;
     /* justify-content: center; */
     width: 51%;
     padding-right: 2rem;
     text-align: center;
}

#conteinerDoisSessaoUm h1
{
     color: #ffffff;
     font-size: 8rem;
     flex-wrap: wrap;
     font-weight: 400;
     margin-top: 3rem;
}

#conteinerDoisSessaoUm p
{
     margin-bottom: 1rem;
     margin-top: 5rem;
     font-size: 1.5rem;
     font-weight: 300;
     color: white;
}

#conteinerDoisSessaoUm button
{
     cursor: pointer;
     border: 0;
     border-radius: 2rem;
     height: 2.7rem;
     width: 14rem;
     background-color: #fff;
     color: #344a66;
     font-size: 1rem;
     font-weight: 600;
     transition: all 0.5s ease-in-out;
}

#conteinerDoisSessaoUm button:hover
{
     transition: all 0.5s ease-in-out;
     transform: scale(1);
     background-color: #5e7ea800;
     border: 0.1rem solid #fff;
     color: #fff;
}






/* PAUSA */
/* #pausa
{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: #a5a9ac;
     padding: 5rem 0rem 1rem 0rem;

     p{
          width: 60%;
          font-size: 1.5rem;
          color: #28394e;
     }
} */















/* SESSÃO DOIS */
#sessaoDois
{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
     background-color: #a5a9ac;
     /* background-image: url(../IMG/FUNDOSESSÃODOIS.png); */
     background-size: cover;
}

#conteinerUmSessaoDois
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 50%;
     padding-left: 6rem;     
}

#conteinerUmSessaoDois h1
{
     color: #1d2b3b;
     font-size: 5rem;
     font-weight: 300;
}

#conteinerUmSessaoDois p
{
     margin-top: 3rem;
     font-size: 1.8rem;
     font-weight: 300;
     color:  #1d2b3b;
     text-align: left;
     flex-wrap: wrap;
}

#conteinerDoisSessaoDois
{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
     width: 50%;

}

#imgSessaoDois
{
     display: flex;
     height: 90%;
     width: 90%;
}

#conteinerDoisSessaoDois img
{
     background-size: cover;     
     width: 100%;
     height: 100%;
}












/* SESSÃO TRÊS */
#sessaoTres
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     width: 100%;
     height: 100vh;
}
#conteinerUmSessaotres
{
     display: flex;
     flex-direction: row;
     height: 15%;
     width: 100%;
     padding-top: 3rem;
     padding-left: 12rem;
}

#conteinerUmSessaotres h1
{
     color: #1d2b3b;
     font-size: 4.5rem;
     font-weight: 300;
}

#conteinerDoisSessaotres
{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 85%;
}

/* carrossel */

#carrossel
{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 60%;
     gap: 1.5rem;
}

#carrosselInner {
     display: flex;
     scroll-behavior: smooth; 
     white-space: nowrap;
     width: 50%;
     gap: 2.5rem;
     height: 100%;
 }

.cardCarrossel {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #1d2b3b;
     align-items: center;
     flex: 0 0 auto;
     width: 30%;
     border: 1px solid #1d2b3b;
     border-radius: 2.5rem;
     padding: 4rem 3rem 4rem 3rem;
     gap: 2rem;

     img{
          width: 15rem;
          height: 15rem;
          
     }
}

.cardCarrossel p
{
     font-size: 1.2rem;
}

#carrossel a /*botao*/
{
     font-size: 6rem;
     text-decoration: none;
     color: #6a7075;
     transition: all 0.3s ease-in-out;
}
#carrossel a:hover
{
    transition: all 0.3s ease-in-out;
    color: #1d2b3b;
}








/* ONU */

#sessaoQuatro
{
     display: flex;
     flex-direction: column;
     background-color: #fff;
     width: 100%;
     height: 100vh;
     padding: 3rem 2rem 1rem 6rem;
}

#sessaoQuatro h1
{
     color: #1d2b3b;
     font-size: 4.5rem;
     font-weight: 300;
}

#conteinerMaiorOnu
{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     

     p{
          font-size: 1.2rem;
          color: #1d2b3b;
     }
     
     li{
          font-size: 1.2rem;
          color: #1d2b3b;

     }
}

#conteinerUmSessaoQuatro
{
     display: flex;
     width: 50%;
     flex-wrap: wrap;
     align-items: center;
     gap: 3rem;
     
}

#conteinerDoisSessaoQuatro
{
     display: flex;
     width: 40%;
     
}

#cardOnu
{
     display: flex;
     border: 1px solid #1d2b3b;
     border-radius: 2rem;

     img{
          padding: 1rem;
          width: 15rem;
          height: 15rem;
          border-radius: 2rem;
     }
}