@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
     font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

header
{
    height: 100vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b2b9becb;
    position: sticky;
 
}

#titulosMenu
{
    display: flex;
    flex-direction: column;
    height: 20%;
    padding-top: 1rem;

    h1{
        font-size: 2.2rem;
        color: #181d24;
        text-decoration: none;
        font-weight: 300;
        cursor: pointer;
       }
       h2{
        font-size: 1.5rem;
        color: #181d24;
        align-self: center;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
       }
}

#navegacao
{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;

    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;

    }

    a{
        display: flex;
        padding-left: 2rem; 
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 3.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #1d2b3b;
        cursor: pointer;
        transition: all 50ms ease-in-out;
        &:hover{
            transform: scale(1.1); 
            transition: all 50ms ease-in-out;
            background-color: #1d2b3b;
            color: #fff;
        }
    }
}

#saida
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;

    a{
        border: none;
        background-color: #ffffff00;
        color: #1d2b3b;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: lowercase;
        &:hover{
            transform: scale(1.1); 
            transition: all 50ms ease-in-out;   
        }
    }

    img{
        width: 15%;
    }
}