@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
     font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

header
{
     height: 100vh;
     width: 15.5rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #e0e6eccb;
     position: fixed;
     /* padding: 1.2rem; */
 
}

#titulosMenu
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: 20%;

    h1{
        font-size: 2rem;
        color: #181d24;
        text-decoration: none;
        font-weight: 300;
        cursor: pointer;
       }
       h2{
        font-size: 1.5rem;
        color: #181d24;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
       }
}

#navegacao
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;

    ul{
        width: 100%;
    }

    a{
     font-size: 1.2rem;
     font-weight: 600;
     line-height: 3.5rem;
     text-decoration: none;
     text-transform: uppercase;
     color: #1d2b3b;
     cursor: pointer;
     transition: all 50ms ease-in-out;
     &:hover{
          transform: scale(1.1); 
          transition: all 50ms ease-in-out;
          background-color: #1d2b3b;
          color: #fff;
      }
    }
}

#saida
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;

    a{
        border: none;
        background-color: #ffffff00;
        color: #1d2b3b;
        font-size: 1.3rem;
        text-decoration: none;
        &:hover{
            transform: scale(1.1); 
            transition: all 50ms ease-in-out;   
        }
    }
}