#infoTotais /*cards*/ {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #222d3d;
    border-radius: 1.5rem;
    width: 22%;
    height: 95%;
    box-shadow: 1px 1px 2px 1px #111c29;

    p{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

