body {background-color: #384b64;}


#sessaoUm 
{
     display: flex;
     flex-direction: row;
     margin-top: 4rem;
     width: 100%;
     height: 100vh;
     background-color: #3a4a5f;
}

#conteinerUmSessaoUm
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: end;
     width: 49%;
     height: 100vh;
     
     img{
     background-size: cover;
     transform: translateY(0px);
     animation: float 5s ease-in-out infinite;
     }
}
@keyframes float
{
     0% {transform: translateY(0px);}
     50%{transform: translateY(-50px);}
     100%{transform: translateY(0px);}
}

#imgSessaoUm
{
     display: flex;
     height: 100%;
     width: 100%;
     background-size: cover;
}

#conteinerDoisSessaoUm
{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 5rem;
     /* justify-content: center; */
     width: 51%;
     padding-right: 2rem;
     text-align: center;
}

#conteinerDoisSessaoUm h1
{
     color: #ffffff;
     font-size: 8rem;
     flex-wrap: wrap;
     font-weight: 400;
     margin-top: 3rem;
}

#conteinerDoisSessaoUm p
{
     margin-bottom: 1rem;
     margin-top: 5rem;
     font-size: 1.5rem;
     font-weight: 300;
     color: white;
}

#conteinerDoisSessaoUm button
{
     cursor: pointer;
     border: 0;
     border-radius: 2rem;
     height: 2.7rem;
     width: 14rem;
     background-color: #fff;
     color: #344a66;
     font-size: 1rem;
     font-weight: 600;
     transition: all 0.5s ease-in-out;
}

#conteinerDoisSessaoUm button:hover
{
     transition: all 0.5s ease-in-out;
     transform: scale(1);
     background-color: #5e7ea800;
     border: 0.1rem solid #fff;
     color: #fff;
}













/* SESSÃO DOIS */
#sessaoDois
{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100vh;
     background-color: #a5a9ac;
}

#conteinerUmSessaoDois
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 50%;
     padding-left: 6rem;     
}

#conteinerUmSessaoDois h1
{
     color: #1d2b3b;
     font-size: 5rem;
     font-weight: 300;
}

#conteinerUmSessaoDois p
{
     margin-top: 3rem;
     font-size: 1.8rem;
     font-weight: 300;
     color:  #1d2b3b;
     text-align: left;
     flex-wrap: wrap;
}

#conteinerDoisSessaoDois
{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
     width: 50%;

}

#imgSessaoDois
{
     display: flex;
     height: 90%;
     width: 90%;
}

#conteinerDoisSessaoDois img
{
     background-size: cover;     
     width: 100%;
     height: 100%;
}












/* SESSÃO TRÊS */
#sessaoTres
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     width: 100%;
     height: 110vh;
}
#conteinerUmSessaotres
{
     display: flex;
     flex-direction: row;
     height: 15%;
     width: 100%;
     padding-top: 3rem;
     padding-left: 12rem;
}

#conteinerUmSessaotres h1
{
     color: #1d2b3b;
     font-size: 4.5rem;
     font-weight: 300;
}

#conteinerDoisSessaotres
{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 80%;
}

/* carrossel */

#carrossel
{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 60%;
     height: 90%;
     gap: 1.5rem;
}

#carrosselInner {
     display: flex;
     scroll-behavior: smooth; 
     white-space: nowrap;
     width: 50%;
     gap: 2.5rem;
     padding: 0.5rem;
     height: 90%;
 }

.cardCarrossel {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #1d2b3b;
     flex: 0 0 auto;
     width: 25%;
     border: 1px solid #1d2b3b;
     border-radius: 4rem;
     padding: 0rem 3rem 0rem 3rem;
     gap: 2rem;
     box-shadow: 2px 2px 8px 1px #111c29;

     img{
          width: 15rem;
          height: 15rem;
          
     }
     p{
          font-size: 1.1rem;

     }
}


#carrossel a /*botao*/
{
     font-size: 6rem;
     text-decoration: none;
     color: #6a7075;
     transition: all 0.3s ease-in-out;
}
#carrossel a:hover
{
    transition: all 0.3s ease-in-out;
    color: #1d2b3b;
}

#textoDeBaixoCard
{
     display: flex;
     justify-content: center;
     height: 10%;

     p{
          font-size: 1.5rem;
          text-transform: uppercase;         
          font-weight: 500;
     }
}








/* ONU */

#sessaoQuatro
{
     display: flex;
     flex-direction: column;
     background-color: #a5a9ac;
     width: 100%;
     height: 90vh;
     padding: 3rem 2rem 1rem 6rem;
}

#sessaoQuatro h1
{
     color: #1d2b3b;
     font-size: 4.5rem;
     font-weight: 300;
}

#conteinerMaiorOnu
{
     display: flex;
     flex-direction: row;
     margin-top: 3rem;
     justify-content: space-between;
     
     p{
          font-size: 1.5rem;
          color: #1d2b3b;
          font-weight: 500;
     }
     
     li{
          font-size: 1.5rem;
          color: #1d2b3b;
          line-height: 3.5rem;
          font-weight: 600;
     }
}

#conteinerUmSessaoQuatro
{
     display: flex;
     width: 53%;
     flex-wrap: wrap;
     align-items: center;
     gap: 2.5rem;
     
}

#conteinerDoisSessaoQuatro
{
     display: flex;
     width: 40%;
}

#cardOnu
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 2px solid #111c29;
     border-radius: 2.5rem;
     height: 22rem;
     width: 18rem;

     p{
          font-size: 1.5rem;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
     }
     img{
          height: 60%;
          width: 90%;
     }
}











/* FOOTER */
footer
{
     display: flex;
     background-color: #111c29;
     width: 100%;
     flex-direction: column;

     h1{
          color: #fff;
          font-weight: 300;
          font-size: 4.5rem;
          padding: 3rem 0rem 2rem 5rem;
     }
     h2{
          color: #fff;
          font-weight: 500;
          font-size: 1.7rem;
     }
     p, li{
          color: #fff;
          font-weight: 400;
          font-size: 1.2rem;
     }
     img{
          height: 1.7rem;
          width: 1.7rem;
          background-size: cover;
          padding-left: 0.6rem;
      &:hover{
          transform: scale(1.1);
      }    
     }
     ul{
          list-style: none;
          line-height: 3rem;
     }
}

#conteinerMaiorFooter
{
     display: flex;
     flex-direction: row;
     gap: 8rem;
     justify-self: center;
     height: 70%;
     width: 90%;
     padding: 0rem 0rem 2rem 6rem;     
}
#caixaAtendimento, #caixaRedes, #caixaContatos
{
     display: flex;
     flex-direction: column;
     gap: 1rem; 
}
   
#conteinerMenorFooter
{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 10%;
     padding: 1%;
     text-align: center;
     border-top: 1px solid #fff;
     p{
          color: #fff;
          font-weight: 400;
          font-size: 0.9rem;
     }
}

