body{background-color: #e0e6eccb;}

#conteinerForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 55%;
    height: 65%;
    margin-top: 4rem;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px 2px #384B64;
    color: #2c3f58;
}

#form h1
{
    color: #2c3f58;
    font-weight: 500;
    font-size: 3.5rem;
}

#form p
{
    color: #2c3f58;
    font-weight: 500;
    margin-bottom: 2rem;
}

form 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 80%;
    height: 39%;
    margin-bottom: 0.5rem;
    margin-left: 5%;

}

label
{
    color: #2c3f58;
    font-weight: 500;
}

#form input
{
    height: 2.3rem;
    width: 17rem;
    cursor:text;
    border: 1px solid #384B64;
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    outline: #2c3f58;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
 { -webkit-appearance: none; margin: 0; }

#btnEntrar
{
     border-radius: 2rem;
     height: 2.5rem;
     width: 14rem;
     font-size: 1rem;
     font-weight: 550;
     cursor: pointer;
     background-color: #384B64;
     color: #fff;
     border: 1px solid #384B64;
     transition: all 0.5s ease-in-out;
}

#btnEntrar:hover
{
    
    background-color: var(---corHeader);
    color: #2c3f58;
    transition: all 0.5s  ease-in-out;
}

#form a
{
    cursor: pointer;
    font-size: 0.8rem;
    color: #2c3f58;
    text-decoration: none;
    font-weight: 600;
    height: auto;
}

#form a:hover
{
    border-bottom: 1px solid #2c3f58;
}