#infoTotais /*cards*/ {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #222d3d;
    border-radius: 1.5rem;
    width: 21%;
    height: 96%;
    box-shadow: 1px 1px 2px 1px #111c29;

    p{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

#linhaBlocoInferior
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 89%;
    height: 75%;

}

#blocoInferiorUm{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    canvas
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: 1px solid #222d3d;
        border-radius: 1rem;
        width: 85%;
        height: 75%;
        box-shadow: 2px 3px 5px 1px #111c29;
    }

}

#blocoInferiorDois{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 15%;

    p{
        font-size: 1.5rem;
        font-weight: 600;
    }
}

