#containerDesempenhoNovo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 99%;
    height: 85%;
    margin-top: 1rem;
}
#linhaDireita{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 25%;
    padding-right: 0.3rem;
    gap: 2rem;
}

#linhaEsquerda
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 98%;
    margin-top: 0.5rem;
}

#infoTotais /*cards*/ {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #222d3d;
    border-radius: 1.5rem;
    width: 90%;
    height: 25%;
    box-shadow: 1px 1px 2px 1px #111c29;

    p{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

#blocoInferiorUm{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        flex-wrap: wrap;
        width: 99%;
        height: 99%;
        padding: 1rem 0rem 1rem 2rem;
        gap: 1.5rem;

    #cardLivro
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #1d2b3b;
        width: 16%;
        height: 50%;
        border: 1px solid #1d2b3b;
        border-radius: 2rem;
        padding: 0rem 3rem 0rem 3rem;
        gap: 0.8rem;
        box-shadow: 1px 1px 8px 1px #111c29;

        /* img{
            width: 15rem;
            height: 15rem;
        }*/
        
            font-size: 1.1rem;
    
    }
}


button
{
    margin-top: 40%;
    border-radius: 2rem;
    height: 2.5rem;
    width: 15rem;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    background-color: #384B64;
    color: #fff;
    border: 1px solid #384B64;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

button:hover
{   
    background-color: var(---corHeader);
    color: #2c3f58;
    transition: all 0.5s  ease-in-out;
}