body{background-color: #e0e6eccb;}

#conteinerForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30%;
    height: 70%;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px 1px #384B64;
    gap: 1rem;
}