body{background-color: #e0e6eccb;}

#conteinerForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 70%;
    height: 75%;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px 2px #384B64;
    color: #2c3f58;
}

#form h1
{
    color: #2c3f58;
    font-weight: 500;
    font-size: 3.5rem;
}

#form p
{
    color: #2c3f58;
    font-weight: 500;
    margin-bottom: 3rem;
}

form 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 60%;

}

#form input
{
    height: 2.3rem;
    width: 15.5rem;
    cursor:text;
    border: 1px solid #384B64;
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    outline: #2c3f58;
}

#btnEntrar
{
     border-radius: 2rem;
     height: 2.3rem;
     width: 12rem;
     font-size: 1rem;
     font-weight: 550;
     cursor: pointer;
     background-color: #384B64;
     color: #fff;
     border: 1px solid #384B64;
     transition: all 0.5s ease-in-out;
}

#btnEntrar:hover
{
    
    background-color: var(---corHeader);
    color: #2c3f58;
    transition: all 0.5s  ease-in-out;
}

