@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

colgroup:root
{
     ---azulUm: #84b1ec;
     ---azulDois: #7198CA;
     ---azulTrês: #5E7EA8;
     ---azulQuatro: #4B6586;
     ---azulCinco: #89B8F5;
     ---azulSeis: #384B64;
     ---corHeader: #a7c0e2;
     
}

*
{
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
     font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

header
{
     height: 5rem;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #e0e6eccb;
     position:fixed;
     
}

#conteinerNav
{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: center;
     align-items: center;
     
}

#conteinerNav h1
{
     font-size: 2rem;
     color: #384B64;
     text-decoration: none;
     font-weight: 300;
     cursor: pointer;
}

#itensNav
{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40%;
     gap: 2.5rem;
}

#conteinerNav a
{
     font-size: 1.3rem;
     font-weight: 500;
     text-decoration: none;
     color: #384B64;
     cursor: pointer;
}

#buttonsNav
{
     display: flex;
     justify-content: center;
     gap: 0.5rem;
     margin-left: 20rem;
}

#btnUm, #btnDois
{
     border: 1px solid #384B64;
     border-radius: 0.2rem;
     height: 2rem;
     width: 7.5rem;
     font-size: 1rem;
     font-weight: 500;
     text-decoration: none;
     cursor: pointer;
     background-color: var(---corHeader);
     color: #2c3f58;
     transition: 0.5s all ease-in-out;
     
}

#btnUm:hover, #btnDois:hover
{
     transition: 0.5s all ease-in-out;
     background-color: #384B64;
     color: #cfd5dd;
}